@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
    font-family: "Nunito", sans-serif;
}

html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Presentacion */
.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.presentation__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(236, 247, 255, 0.938);
    width: 28rem;
    height: 37rem;
    border-radius: 1rem;
    border-style: outset;
    border-color: rgba(245, 245, 245, 0.109);
}

.presentation__header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bfe1ff;
    border-radius: 1rem;
    height: 13%;
    width: 100%;
    border-color: whitesmoke;
    border-width: 2px;
    border-style: solid;
    margin-top: -0.15rem;
}

.presentation__header-title {
    font-size: 2.5rem;
    color: #0d336bf7;
    text-shadow: 2px 1.5px 2px rgba(245, 245, 245, 0.853);
}

.presentation__header-link {
    border-radius: 20rem;
    border-color: black;
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    margin-left: 27.8rem;
    margin-top: -4.6rem;
    cursor: pointer;
    border-width: 0.15rem;
    border-style: solid;
    background-color: white;
}

/* Corregir boton, el titulo esta descentrado*/
.presentation__header-close {
    max-width: 60%;
    max-height: 60%;
    position: absolute;
    margin-left: 0.22rem;
    margin-top: 0.25rem;
    margin-right: 0.22rem;
    margin-bottom: 0.22rem;
}

.presentation__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.presentation__subtitle {
    margin-top: 2.5rem;
    margin-bottom: 0.8rem;
    font-size: 1.545rem;
    color: #0d336bd4;
}

.presentation__paragraph {
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    color: #0d336bd4;
}

.presentation__label-continents {
    font-size: 0.96rem;
    font-weight: bold;
    color: #0d336bd4;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
}

#continents-dropdown {
    border-radius: 4rem;
    text-align: center;
    width: 100%;
    height: 1.6rem;
    background-color: #4b8dcee8;
    color: white;
    border-style: outset;
    border-color: whitesmoke;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.presentation__continents-dropdown-option {
    color: #0d336bd4;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.97);
}
.presentation__label-time {
    font-size: 0.96rem;
    font-weight: bold;
    color: #0d336bd4;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}
.presentation__div-time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0rem;
    margin: 0;
    padding: 0rem;
    margin-bottom: 1.8rem;
}

.presentation__div-time :nth-child(2) {
    margin-left: 1rem;
    margin-right: 1rem;
}

.presentation__button-time {
    background-color: #4b8dcee8;
    color: white;
    border-radius: 4rem;
    width: 30%;
    height: 2.68rem;
    font-weight: bold;
    font-size: 1rem;
    border-color: whitesmoke;
}

.presentation__button-start {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #ea7217e8;
    color: white;
    border-radius: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 48%;
    height: 3.7rem;
    font-weight: bold;
    font-size: 1.3rem;
    border-color: rgba(245, 245, 245, 0.921);
    text-align: center;
    border-style: outset;
}

#continents-dropdown:hover {
    cursor: pointer;
}

.presentation__button-time:hover {
    cursor: pointer;
}

.presentation__button-start:hover {
    cursor: pointer;
}

/* Página principal */
.homepage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bfe1ff;
    height: 2.8em;
    transition: height 0.2s;
    width: 99.5%;
    border-color: whitesmoke;
    border-radius: 8px;
    border-width: 0.18em;
    border-style: solid;
    margin-bottom: 0rem;
}

.header__title {
    font-size: clamp(0.2px, 1.6rem, 8vw);
    color: #0d336b;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
    width: 38rem;
    max-width: 90vw;
    height: 30em;
    background-color: #fffffff7;
    flex: 1;
}

.game__statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.game__statistics-item {
    width: 30%;
    text-align: center;
    font-size: 1rem;
    /* font-weight: bold; */
}

.game__time,
.game__correct-answers,
.game__clues {
    font-size: 1.3rem;
    font-weight: initial;
}

.game__clues {
    cursor: pointer;
    user-select: none;
}

.game__countrie {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    height: 9rem;
    width: 15em;
    background-color: rgba(255, 255, 255, 0);
    user-select: none;
    margin-top: 0vh;
    /* margin-bottom: 1rem; */
}

.game__countrie-description {
    text-align: center;
    width: 100%;
    max-width: 80vw;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.game__flag {
    width: 70%;
    max-width: 70vw;
    max-height: 80%;
    user-select: none;
    border-radius: 0.5rem;
    border-color: rgb(205, 205, 205);
    border-style: solid;
    border-width: 0.2rem;
}

.game__answer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100vw;
    height: 7rem;
    margin-top: 0rem;
    margin-bottom: 0em;
}

.game__answer-letter {
    border-radius: 0.2em;
    height: 1.3em;
    width: 1.4em;
    max-width: 1.7em;
    background-color: rgba(227, 243, 255, 0.719);
    border-bottom: 0.4em solid #0d336bf7;
    border-style: inset;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0.35em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    font-size: 1rem;
    text-align: center;
    padding-top: 0.3em;
    transition: transform 3s ease;
    /* animation: shake 0.5s ease-in-out infinite; */
    text-transform: uppercase;
    user-select: none;
}

.game__answer-letter--space {
    border-radius: 0em;
    height: 1.6em;
    width: 1.1em;
    max-width: 1.4em;
    background-color: rgba(255, 255, 255, 0);
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    margin-left: -0.1em;
    margin-right: -0.1em;
}

.keyborad {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    height: 10rem;
    width: 28rem;
    max-width: 90vw;
    margin-top: 0rem;
    margin-bottom: 1rem;
    user-select: none;
    overflow: auto;
}

.keyboard__column--1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.keyboard__column--2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
}

.keyboard__column--3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
}

.keyboard__button {
    height: 3em;
    max-height: 3rem;
    width: 2.8em;
    max-width: 2.8rem;
    border-radius: 0.3em;
    border-color: none;
    border-style: none;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    text-align: center;
    box-sizing: border-box;
    background: rgb(233, 233, 233);
    cursor: pointer;
    user-select: none;
}

.keyboard__button:hover {
    background: rgb(202, 202, 202);
}

.keyboard__column--3 > :nth-child(9) {
    width: 5rem;
    max-width: 5rem;
}

.game__start-again {
    background-color: #ea7217e8;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 0.4em;
    border-color: whitesmoke;
    padding: 0px;
    min-height: 2em;
    width: 12em;
    max-width: 100vw;
    cursor: pointer;
    user-select: none;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.game__start-again:hover {
    border-color: rgb(223, 223, 223);
    background-color: #eb761d;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bfe1ff;
    border-radius: 1em;
    height: 2.8em;
    width: 99.5%;
    max-width: 100vw;
    border-color: whitesmoke;
    border-radius: 8px;
    border-width: 0.18em;
    border-style: solid;
    margin-top: 2rem;
}

.footer__paragraph {
    font-size: clamp(0.2px, 14px, 5vw);
    color: #0d336b;
}

/* Animacion respuestas */
.response {
    opacity: 0; /* Initially hide the card */
    transition: opacity 0.3s;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #dff0d8; /* Color de fondo verde para respuesta correcta */
    width: 11rem;
    height: 2rem;
    text-align: center;
    padding-top: 0.5rem;
    border: 1px solid #d0e9c6; /* Borde verde para respuesta correcta */
    border-radius: 5px;
    display: none; /* Ocultar la tarjeta inicialmente */
}

.response.incorrect {
    background-color: #f2dede; /* Color de fondo rojo para respuesta incorrecta */
    border: 1px solid #ebccd1; /* Borde rojo para respuesta incorrecta */
}

.response.incomplete {
    background-color: #fff3cd; /* Color de fondo rojo para respuesta incorrecta */
    border: 1px solid #ebccd1;
}

/* Efecto para las letras si la respuesta es correcta */
.efect-correct-answer {
    border-radius: 0.2em;
    height: 1.5em;
    width: 1.7em;
    max-width: 1.7em;
    background-color: #66ff8a3c;
    border: 0.2rem solid #38d65d;
    margin-left: 0.1em;
    margin-right: 0.1em;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 0.4em;
    text-transform: uppercase;
    user-select: none;
}

/* Definición de la animación de sacudida */
@keyframes shake {
    0% {
        transform: translateX(0);
    } /* Sin sacudida */
    25% {
        transform: translateX(-5px);
    } /* Movimiento a la izquierda */
    50% {
        transform: translateX(5px);
    } /* Movimiento a la derecha */
    75% {
        transform: translateX(-5px);
    } /* Movimiento a la izquierda */
    100% {
        transform: translateX(0);
    } /* Sin sacudida */
}

/* Answers results elements */
.answer-results {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 247, 255);
    width: 30rem;
    height: 34rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: #0d336b7c;
    border-width: 0.25rem;
    margin: 0 auto;
}

.answer-results__paragraph :nth-child(1) {
    font-size: 2.5rem;
    color: #0d336bf7;
    text-shadow: 2px 1.5px 2px rgba(245, 245, 245, 0.853);
}

.answer-results__paragraph :nth-child(2),
.answer-results__paragraph :nth-child(4),
.answer-results__paragraph :nth-child(6) {
    margin-bottom: 2rem;
}

.answer-results__paragraph :nth-child(2),
.answer-results__paragraph :nth-child(3),
.answer-results__paragraph :nth-child(5) {
    font-size: 1.545rem;
}

.answer-results__paragraph :nth-child(4),
.answer-results__paragraph :nth-child(6) {
    font-size: 1.545rem;
}

.answer-results__paragraph :nth-child(3),
.answer-results__paragraph :nth-child(5) {
    font-weight: bold;
}

.answer-results__paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    color: #0d336bd4;
}

.answer-results__button--start-again {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #ea7217e8;
    color: white;
    border-radius: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 15rem;
    height: 3rem;
    font-weight: bold;
    font-size: 1.3rem;
    border-color: rgba(245, 245, 245, 0.921);
    text-align: center;
    border-style: outset;
    margin-bottom: 2rem;
}

.answer-results__button--change-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #ea7217e8;
    color: white;
    border-radius: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 15rem;
    height: 3rem;
    font-weight: bold;
    font-size: 1.3rem;
    border-color: rgba(245, 245, 245, 0.921);
    text-align: center;
    border-style: outset;
    margin-bottom: 0rem;
}

.answer-results__button:hover {
    border-color: rgb(223, 223, 223);
    background-color: #eb761d;
}

.blurry-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.8rem);
    z-index: 1;
}

.answer-results__close-link {
    border-radius: 20rem;
    border-color: black;
    height: 1.2rem;
    width: 1.2rem;
    position: fixed;
    top: 0%;
    left: 100%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
    border-width: 0.15rem;
    border-style: solid;
    background-color: white;
}

.answer-results__close-img {
    max-width: 60%;
    max-height: 60%;
    position: absolute;
    margin-left: 0.22rem;
    margin-top: 0.25rem;
    margin-right: 0.22rem;
    margin-bottom: 0.22rem;
}

/* Card timer-mode */
.timer-mode {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 247, 255);
    width: 24rem;
    height: 27rem;
    border-radius: 1rem;
    border-style: outset;
    border-color: rgba(245, 245, 245, 0.466);
    border-width: 0.25rem;
    margin: 0 auto;
}

.timer-mode__title {
    font-size: 1.5371rem;
    color: #0d336bf7;
    text-shadow: 2px 1.5px 2px rgba(245, 245, 245, 0.853);
    margin-bottom: 2rem;
}

.timer-mode__close {
    border-radius: 20rem;
    border-color: black;
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    margin-left: 27.8rem;
    margin-top: -4.6rem;
    cursor: pointer;
    border-width: 0.15rem;
    border-style: solid;
    background-color: white;
}

/* Corregir boton, el titulo esta descentrado*/

.timer-mode__label--continent {
    font-size: 0.96rem;
    font-weight: bold;
    color: #0d336bd4;
    margin-bottom: 0.8rem;
}

.timer-mode__dropdown {
    border-radius: 4rem;
    text-align: center;
    width: 80%;
    height: 1.6rem;
    background-color: #4b8dcee8;
    color: white;
    border-style: outset;
    border-color: whitesmoke;
    font-weight: bold;
    margin-bottom: 2rem;
}

.timer-mode__option {
    color: #0d336bd4;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.97);
}

.timer-mode__label--time {
    font-size: 0.96rem;
    font-weight: bold;
    color: #0d336bd4;
    margin-bottom: 0.8rem;
}

.timer-mode__container-time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 0rem;
    margin: 0;
    padding: 0rem;
    margin-bottom: 2rem;
}

.timer-mode__container-time :nth-child(2) {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.timer-mode__button--time {
    background-color: #4b8dcee8;
    color: white;
    border-radius: 4rem;
    width: 30%;
    height: 2.68rem;
    font-weight: bold;
    font-size: 1rem;
    border-color: whitesmoke;
}

.timer-mode__button--start {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #ea7217e8;
    color: white;
    border-radius: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 10rem;
    height: 3rem;
    font-weight: bold;
    font-size: 1.3rem;
    border-color: rgba(245, 245, 245, 0.921);
    text-align: center;
    border-style: outset;
    margin-bottom: 2rem;
}

.timer-mode__dropdown:hover {
    cursor: pointer;
}

.timer-mode__button--time:hover {
    cursor: pointer;
}

.timer-mode__button--start:hover {
    cursor: pointer;
}
