.header__open-navbar-button {
  height: 40px;
  width: 40px;
  max-width: 20vw;
  background-color: transparent;
  border-radius: 0.3rem;
  background-image: url("/tupais/icons/menu.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  padding: 0;
  user-select: none;
  margin: 0;
  transition: background-color 0.1s ease-in-out;
}

.header__open-navbar-button:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.header__open-navbar-button:focus {
  outline: none;
  outline-offset: 0;
}

.header__open-navbar-button:focus-visible {
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: 0;
}

.header__open-navbar-button:active {
  outline: 0px solid -webkit-focus-ring-color;
  outline-offset: 0;
}

.header__open-navbar-button--dark-mode {
  background-image: url("/tupais/icons/menu-dark-mode.svg");
}

.header__open-navbar-button--dark-mode:hover {
  background-image: url("/tupais/icons/menu.svg");
}
