.dots-indicator {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  height: 15px;
  user-select: none;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: color-mix(in srgb, var(--color-link) 40%, var(--bg-default) 60%);
  opacity: 0.6;
  transition: 
  transform 0.2s ease, 
  /* background-color 0.2s ease,  */
  opacity 0.2s ease, 
  box-shadow 0.2s ease;
  user-select: none;
}

.dot.active {
  background-color: var(--color-link);
  opacity: 1;
  transform: scale(1.2);
  box-shadow: 0 0 2px color-mix(in srgb, var(--color-link) 80%, var(--bg-default) 20%);
}
