<dialog class="settings">
  <div class="settings__container">
    <h2 class="settings__title">Configuración</h2>
    <h3 class="settings__subtitle">Modo oscuro</h3>
    <h3 class="settings__subtitle">Juego</h3>
    <label class="settings__label-continents">
      <span class="setting__label-text">Elige el continente de los paises</span>
      <select class="settings__select" name="countries" title="Continentes">
        <option value="all continents" class="settings__select-option">
          TODO EL MUNDO
        </option>
        <option value="africa" class="settings__select-option">
          ÁFRICA
        </option>
        <option value="americas" class="settings__select-option">
          AMÉRICA
        </option>
        <option value="asia" class="settings__select-option">
          ASIA
        </option>
        <option value="europe" class="settings__select-option">
          EUROPA
        </option>
        <option value="oceania" class="settings__select-option">
          OCEANÍA
        </option>
      </select>
    </label>
    <button class="settings__start-button" title="Empezar" type="button">
      <span class="start-button-text">EMPEZAR</span>
    </button>
  </div>
</dialog>