<div class="credits">
  <h2 class="credits__title">Créditos</h2>

  <h3 class="credits__subtitle">Acerca del creador</h3>
  <p class="credits__paragraph">
    ¡Bienvenido a <strong>Tu País</strong>! Soy Santiago Goncalvez, el creador y
    desarrollador de este proyecto desde sus inicios. Esta página es el
    resultado de mi pasión por el desarrollo web y la programación, y representa
    mi primer paso en este ámbito.
  </p>

  <h3 class="credits__subtitle">Contacto</h3>
  <p class="credits__paragraph">
    Si tenés alguna pregunta, sugerencia, encontraste un error o simplemente
    querés saludar, no dudes en ponerte en contacto conmigo a través de
    <a class="credits__text-link" href="mailto:santiago.goncalvez.l@gmail.com"
      >santiago.goncalvez.l@gmail.com</a
    >.
  </p>

  <h3 class="credits__subtitle">Contribuciones</h3>

  <p class="credits__paragraph">
    ¡Tu ayuda es bienvenida! Si querés contribuir al desarrollo de este
    proyecto, podés visitar mi repositorio en GitHub,
    <a
      class="credits__text-link"
      href="https://github.com/santiagogoncalvez/tupais.github.io"
      target="_blank"
      >repositorio Tu País</a
    >. Allí encontrarás el código fuente, así como las instrucciones para
    colaborar y enviar sugerencias o mejoras al proyecto.
  </p>
</div>
