.dropdown-options {
  width: 190px;
  position: absolute;
  right: 15px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 6px;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 0px 2px 6px rgba(200, 200, 200, 0.302);
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  z-index: 51;
  user-select: none;

  top: 38px;
}

.dropdown-options__options:focus {
  outline: 0px solid;
  outline-offset: 0px;
}

.dropdown-options__options--display {
  display: flex;
  background-color: white;
}

.dropdown-options__options--show {
  /* margin-top: 2px; */
  opacity: 1;
  background-color: white;
}

.dropdown-options__option {
  background-color: white;
  color: #001f31;
  width: 95%;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0px 20px;

  margin-left: 0;
  margin-right: 0;
  user-select: none;
  transition: all 0.05s linear;
}

.dropdown-options__option:hover {
  cursor: pointer;
}

.dropdown-options__option--selected {
  background-color: rgb(240, 240, 240);
}

/* Dark mode */
.dropdown-options__options--dark-mode {
  box-shadow: 0px 2px 6px rgba(120, 120, 120, 0.302);
}
