.score {
  min-width: 100%;
  max-width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: clamp(0px, 2vw, 40px);
}

.score__statistics {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5px;
  width: 130px;
  height: 100%;
}

.score__point-container {
  /* height: 45px; */
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.score__title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score__icon {
  /*padding: 0px 6px 0px 0px;*/
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.score__title {
  color: #6e6e70;
  font-weight: 400;
  font-size: 1rem;
}

.score__points {
  font-size: 1.2rem;
  font-weight: 600; /* un poco más destacado */
  border: 1px solid #e2e3e3;
  background-color: #f9f9f9; /* gris muy suave para resaltar sin parecer botón */
  border-radius: 8px;
  color: #5b5d5f;
  min-width: 60px; /* asegura que se vea bien con números grandes */
  padding: 4px 8px; /* vertical y horizontal para “aire” dentro */
  text-align: center;
  display: inline-block;
  user-select: none;
}

.score__successes-text {
  padding: 0px 1px 0px 1px;
  transform: scale(1);
  display: inline-block;
}
.score__remaining-text {
  padding: 0px 1px 0px 1px;
  transform: scale(1);
  display: inline-block;
}

@keyframes pulse-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Aquí defines cuánto se agranda */
  }
  100% {
    transform: scale(1);
  }
}

.score__points--change {
  animation: pulse-scale 0.25s ease-in-out;
}
