<div class="score">
  <div class="score__statistics score__statistics--successes">
    <div class="score__title-container">
      <img
        class="score__icon"
        src="/tupais/icons/correct.png"
        alt="Continente"
      />
      <span class="score__title">Puntuación</span>
    </div>

    <div class="score__point-container">
      <div class="score__points">
        <span class="score__successes-text"></span>/<span
          class="score__remaining-text"
        ></span>
      </div>
    </div>
  </div>

  <!-- <div class="score__statistics score__statistics--remaining">
    <div class="score__title-container">
      <img
        class="score__icon"
        src="/tupais/icons/list.png"
        alt="Continente"
      />
      <span class="score__title">Restantes</span>
    </div>
    <div class="score__point-container">
      <div class="score__points">10</div>
    </div>
  </div> -->
</div>
