.navbar__button {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 1.8rem;
   width: 1.8rem;
   background-color: #bfe1ff;
   border-radius: 0.4rem;
   border-color: rgba(255, 255, 255, 0);
   border-style: none;
   border-width: 0rem;
   background-color: rgba(128, 128, 128, 0);
   padding: 0rem;
   user-select: none;
   margin-bottom: 0.5rem;
   margin-left: auto;
   margin-right: 0.5rem;
   margin-top: 0.5rem;
   background-image: url("/src/assets/icons/close.png");
   background-size: 11px 11px;
   background-repeat: no-repeat;
   background-position: center;
}

.navbar__button:hover {
   transition: all 0.1s ease-in-out;
   background-color: rgba(255, 255, 255, 0.91);
   cursor: pointer;
}