<div class="continent-selector__options" tabindex="-1">
  <div
    data-value="all"
    class="continent-selector__option"
  >
    <span>TODOS</span>
  </div>
  <div data-value="africa" class="continent-selector__option">
    <span>ÁFRICA</span>
  </div>
  <div data-value="americas" class="continent-selector__option">
    <span>AMÉRICA</span>
  </div>
  <div data-value="asia" class="continent-selector__option">
    <span>ASIA</span>
  </div>
  <div data-value="europe" class="continent-selector__option">
    <span>EUROPA</span>
  </div>
  <div data-value="oceania" class="continent-selector__option">
    <span>OCEANÍA</span>
  </div>
</div>
