.continent-selector {
  position: relative;
  width: 200px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.continent-selector__title {
  /* color: #00405d; */
  font-weight: 500;
  margin: 0;
  font-size: 1.3rem;
}

.continent-selector__text {
  margin-top: 16px;
  margin-bottom: 10px;
  color: #697276;
}

.continent-selector__select {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  position: relative;
  user-select: none;
  gap: 15px;
}

/* Dark mode */
.continent-selector__text--dark-mode {
  color: #d4d4d4;
}
