<div class="game-options">
  <button
    type="button"
    name="button-game-options"
    value="argentina"
    class="game-options__button"
  >
    <span class="game-options__button-icon">a&#41;</span
    ><span class="game-options__button-text"></span>
  </button>
  <button
    type="button"
    name="button-game-options"
    value="brasil"
    class="game-options__button"
  >
    <span class="game-options__button-icon">b&#41;</span
    ><span class="game-options__button-text"></span>
  </button>
  <button
    type="button"
    name="button-game-options"
    value="uruguay"
    class="game-options__button"
  >
    <span class="game-options__button-icon">c&#41;</span
    ><span class="game-options__button-text"></span></button
  ><button
    type="button"
    name="button-game-options"
    value="chile"
    class="game-options__button"
  >
    <span class="game-options__button-icon">d&#41;</span
    ><span class="game-options__button-text"></span>
  </button>
</div>
