<aside class="filters-panel">
  <header class="filters-panel__header">
    <h2 class="filters-panel__title">Filtrar por:</h2>
  </header>
  <div class="active-filters">
    <!-- 
    <span class="filter-chip">
      <span class="chip-text">América</span>
      <button class="chip-close">×</button>
    </span>
    
    <span class="filter-chip">
      <span class="chip-text">Población > 10M</span>
      <button class="chip-close">×</button>
    </span> 
    -->
  </div>

  <div class="filters-panel__section">
    <h3 class="filters-panel__label">Continente</h3>
    <div class="filters-panel__options">
      <button
        class="filters-panel__option"
        data-filter-category="continent"
        data-filter-value="África"
      >
        África
      </button>
      <button
        class="filters-panel__option"
        data-filter-category="continent"
        data-filter-value="América"
      >
        América
      </button>
      <button
        class="filters-panel__option"
        data-filter-category="continent"
        data-filter-value="Antártico"
      >
        Antártico
      </button>
      <button
        class="filters-panel__option"
        data-filter-category="continent"
        data-filter-value="Asia"
      >
        Asia
      </button>
      <button
        class="filters-panel__option"
        data-filter-category="continent"
        data-filter-value="Europa"
      >
        Europa
      </button>
      <button
        class="filters-panel__option"
        data-filter-category="continent"
        data-filter-value="Oceanía"
      >
        Oceanía
      </button>
    </div>
  </div>

  <!-- <div class="filters-panel__section">
    <h3 class="filters-panel__label">Acceso al mar</h3>
    <div class="filters-panel__options">
      <button data-filter="coast">Con costa</button>
      <button data-filter="landlocked">Sin costa</button>
    </div>
  </div>

  <div class="filters-panel__section">
    <h3 class="filters-panel__label">Población</h3>
    <input
      type="range"
      min="0"
      max="200000000"
      step="1000000"
      class="filters-slider-alt"
    />
  </div>

  <div class="filters-panel__section">
    <h3 class="filters-panel__label">Área</h3>
    <input
      type="range"
      min="0"
      max="17000000"
      step="10000"
      class="filters-slider-alt"
    />
  </div> -->

  <footer class="filters-panel__footer">
    <!-- <button class="filters-panel__reset">Reiniciar</button>
    <button class="filters-panel__apply">Aplicar</button> -->
  </footer>
</aside>
