.settings__start-button {
   background-color: #00405d;
   color: white;
   height: 48px;
   min-height: 48px;
   padding: 0 20px; 
   border-radius: 6px;
   border: 0px solid;
   font-size: 1rem;
   font-weight: 600;
   transition: all 0.15s ease-in-out;
   user-select: none;
}

.settings__start-button:hover {
   cursor: pointer;
   background-color: #004f73;
}

/* Dark mode */
.settings__start-button--dark-mode {
   background-color: rgb(238, 235, 235);
   color: #00405d;
}

.settings__start-button--dark-mode:hover {
   cursor: pointer;
   background-color: rgb(238, 235, 235);
}