.continent-selector__button {
  width: 100%;
  max-width: 100%;
  height: 35px;
  background-color: var(--bg-default);
  color: var(--color-text);
  text-align: center;
  border-radius: 6px;
  border: 1px solid color-mix(in srgb, var(--color-text) 15%, var(--bg-default));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1rem;
  position: relative;
  padding: 0px 20px;
  /* transition: all 0.15s ease-in-out; */
}

.continent-selector__button:hover {
  border-color: color-mix(in srgb, var(--color-text) 25%, var(--bg-default));
  background-color: color-mix(
    in srgb,
    var(--bg-default) 85%,
    var(--color-text) 5%
  );
  cursor: pointer;
}

.continent-selector__button:focus {
  transition: all 0s;
  outline: 2px solid var(--color-link);
  outline-offset: 2px;
}

.continent-selector__button:active {
  transition: all 0s;
  outline: 0px solid;
  outline-offset: 0px;
}

.continent-selector__selector-icon {
  right: 15px;
  top: 10px;
  width: 13px;
  height: 13px;
  rotate: calc(-90deg);

  background-image: url("/tupais/icons/selector-arrow.png");
  background-color: transparent;
  background-size: 13px 13px;
}

body.dark-mode .continent-selector__selector-icon {
  background-image: url("/tupais/icons/selector-arrow-dark-mode.png");
}

.continent-selector__button-text {
  user-select: none;
  flex: 1;
}
