.game-over {
  color: #001f31;
  /* background: rgb(192, 192, 192); */
  background: rgb(250, 250, 250);
  position: absolute;
  display: none;
  justify-content: center;
  left: 0;
  min-height: 100%;

  width: 100%;
  max-width: 100vw;
  /** Para que se vean bien los modales cuando estos se abren se tienen que poner el overflow del main o de los otros componentes en hidden para que no molesten el overflow-x de los modales */
  overflow: auto;

  border: 0;
  padding: 0px 10px 0px 10px;
  padding-top: 16px;
  padding-bottom: 130px;
  z-index: 11;
  transition: all 0.3s ease-in-out;
  margin: 0;
  user-select: none;

  scrollbar-gutter: stable both-edges;

  /* Animation */
  opacity: 1;
  top: 0;
}

.game-over__title {
  margin: 0;
  max-width: 100%;
  font-weight: 600;
}

.game-over::backdrop {
  background: transparent;
  height: 0px;
  width: 0px;
}

.game-over__container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 0px;
  height: fit-content;
  width: 512px;
  max-width: 100%;
  gap: 25px;
}

.game-over--show {
  opacity: 1;
  top: 0;
}

.game-over--display {
  display: flex;
}

/* Dark mode */
.game-over--dark-mode {
  background-color: #001f31;
}

.game-over__title--dark-mode {
  color: #e6f2ff;
}

.game-over__subtitle--dark-mode {
  color: #e6f2ff;
}

/* Animation */
/* .fade-in {
  animation: fadeInDownBig forwards;
  animation-duration: 0.5s;
}

.fade-out {
  animation: fadeOutUpBig forwards;
  animation-duration: 1s;
} */
