<div class="keyborad">
  <div class="keyboard__row--1">
    <button
      type="button"
      name="button-keyboard"
      value="q"
      class="keyboard__button"
    >
      Q
    </button>
    <button
      type="button"
      name="button-keyboard"
      value="w"
      class="keyboard__button"
    >
      W
    </button>
    <button
      type="button"
      name="button-keyboard"
      value="e"
      class="keyboard__button"
    >
      E
    </button>
    <button
      type="button"
      name="button-keyboard"
      value="r"
      class="keyboard__button"
    >
      R
    </button>
    <button
      type="button"
      name="button-keyboard"
      value="t"
      class="keyboard__button"
    >
      T
    </button>
    <button
      type="button"
      name="button-keyboard"
      value="y"
      class="keyboard__button"
    >
      Y
    </button>
    <button
      type="button"
      name="button-keyboard"
      value="u"
      class="keyboard__button"
    >
      U
    </button>
    <button
      type="button"
      name="button-keyboard"
      value="i"
      class="keyboard__button"
    >
      I
    </button>
    <button
      type="button"
      name="button-keyboard"
      value="o"
      class="keyboard__button"
    >
      O</button
    ><button
      type="button"
      name="button-keyboard"
      value="p"
      class="keyboard__button"
    >
      P
    </button>
  </div>
  <div class="keyboard__row--2">
    <button
      type="button"
      name="button-keyboard"
      value="a"
      class="keyboard__button"
    >
      A</button
    ><button
      type="button"
      name="button-keyboard"
      value="s"
      class="keyboard__button"
    >
      S</button
    ><button
      type="button"
      name="button-keyboard"
      value="d"
      class="keyboard__button"
    >
      D</button
    ><button
      type="button"
      name="button-keyboard"
      value="f"
      class="keyboard__button"
    >
      F</button
    ><button
      type="button"
      name="button-keyboard"
      value="g"
      class="keyboard__button"
    >
      G</button
    ><button
      type="button"
      name="button-keyboard"
      value="h"
      class="keyboard__button"
    >
      H</button
    ><button
      type="button"
      name="button-keyboard"
      value="j"
      class="keyboard__button"
    >
      J</button
    ><button
      type="button"
      name="button-keyboard"
      value="k"
      class="keyboard__button"
    >
      K</button
    ><button
      type="button"
      name="button-keyboard"
      value="l"
      class="keyboard__button"
    >
      L
    </button>
    <button
      type="button"
      name="button-keyboard"
      value="ñ"
      class="keyboard__button"
    >
      Ñ
    </button>
  </div>
  <div class="keyboard__row--3">
    <button
      type="button"
      name="button-keyboard"
      value="backspace"
      class="keyboard__button--backspace"
    >
      ➜
    </button>
    <button
      type="button"
      name="button-keyboard"
      value="z"
      class="keyboard__button"
    >
      Z</button
    ><button
      type="button"
      name="button-keyboard"
      value="x"
      class="keyboard__button"
    >
      X</button
    ><button
      type="button"
      name="button-keyboard"
      value="c"
      class="keyboard__button"
    >
      C
    </button>
    <button
      type="button"
      name="button-keyboard"
      value="v"
      class="keyboard__button"
    >
      V
    </button>
    <button
      type="button"
      name="button-keyboard"
      value="b"
      class="keyboard__button"
    >
      B
    </button>
    <button
      type="button"
      name="button-keyboard"
      value="n"
      class="keyboard__button"
    >
      N
    </button>
    <button
      type="button"
      name="button-keyboard"
      value="m"
      class="keyboard__button"
    >
      M
    </button>
    <button
      type="button"
      name="button-keyboard"
      value="enter"
      class="keyboard__button--enter"
    >
      ENVIAR
    </button>
  </div>
</div>
