.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%; /* 👉 ocupa todo el alto disponible, pero puede crecer */
  flex: 1;
  overflow-x: auto;
}

.game__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* gap: 40px; */
  width: 100%;
  flex: 1 0 auto; /* 👉 permite crecer verticalmente según el contenido */
  min-height: 100%; /* asegura que al menos ocupe el alto del contenedor */
  padding-top: 20px;
  padding-bottom: 20px;

  position: relative;
}
