.about {
  color: #001f31;
  width: 511px;
  max-width: 100%;
  padding: 0px 15px 60px 15px;
}

.about__title {
  color: #001f31;
  text-align: center;
  margin-top: 30px;
}

.about__subtitle {
  margin-top: 40px;
}

.about__paragraph {
  margin-top: 0px;
  margin-bottom: 18px;
}

.about__text-link {
  color: #00638e;
}

/* List */

.description-list__description {
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 18px;
}
