<div class="about">
  <h2 class="about__title">Acerca del juego</h2>

  <h3 class="about__subtitle">¿De qué trata Tu País?</h3>
  <p class="about__paragraph">
    Tu País es una página web diseñada para desafiar tus conocimientos
    geográficos y culturales a través de divertidas adivinanzas de banderas y de
    países de todo el mundo.
  </p>

  <h3 class="about__subtitle">Opciónes de juego</h3>
  <p class="about__paragraph">
    En cada modo de juego podés elegir y cambiar el continente del juego.
  </p>

  <p class="about__paragraph">
    Continentes: África, América, Asia, Europa, Oceanía o todos.
  </p>

  <h3 class="about__subtitle">Modos de juego</h3>
  <dl class="description-list">
    <dt class="description-list__term">
      <a href="../index.html" class="about__text-link">Clásico</a>
    </dt>
    <dd class="description-list__description">
      En este formato tenés que adivinar 10 países escribiendo sus nombres
      completos. Si querés, podés saltearte algunos.
    </dd>

    <dt class="description-list__term">
      <a href="./multipleChoise-mode.html" class="about__text-link"
        >Opción múltiple</a
      >
    </dt>
    <dd class="description-list__description">
      En este formato tenés que adivinar 10 países. Por cada uno, se muestran 4
      opciones para elegir la correcta.
    </dd>

    <dt class="description-list__term">
      <a href="./record-mode.html" class="about__text-link">Récord</a>
    </dt>
    <dd class="description-list__description">
      En este formato tenés que adivinar la mayor cantidad de países posibles de
      manera consecutiva, sin equivocarte.
    </dd>

    <dt class="description-list__term">
      <a href="./time-trial-mode.html" class="about__text-link">Contrarreloj</a>
    </dt>
    <dd class="description-list__description">
      En este modo tenés solo 10 segundos para adivinar cada país. El desafío es
      completar correctamente 10 países dentro del tiempo límite de cada ronda.
    </dd>
  </dl>

  <h3 class="about__subtitle">Galería de banderas y países</h3>
  <p class="about__paragraph">
    La sección
    <a class="about__text-link" href="./flag-gallery.html" target="_self"
      >Banderas</a
    >
    es una galería con imágenes de las banderas de países de todo el mundo.
  </p>
  <p class="about__paragraph">
    Cada bandera incluye el nombre del país al que pertenece y datos detallados
    sobre el mismo.
  </p>

  <h3 class="about__subtitle">Banderas e información</h3>
  <p>
    Las banderas son imágenes .svg obtenidas de la página
    <a
      class="about__text-link"
      href="https://flagpedia.net/download/api"
      target="_self"
      >flagpedia.net</a
    >
    y la información de cada país es obtenida de la página
    <a class="about__text-link" href="https://restcountries.com/" target="_self"
      >restcountries.com</a
    >.
  </p>

  <p class="about__paragraph">
    Los íconos se extraen de
    <a class="about__text-link" href="https://iconos8.es/" target="_self"
      >iconos8.es</a
    >.
  </p>
</div>
