.navbar__button {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 1.8rem;
   width: 1.8rem;
   background-color: #bfe1ff;
   border-radius: 0.4rem;
   border-color: rgba(255, 255, 255, 0);
   border-style: none;
   border-width: 0rem;
   background-color: rgba(128, 128, 128, 0);
   padding: 0rem;
   user-select: none;
   margin: 0;
   background-image: url("/src/assets/icons/close.png");
   background-size: 11px 11px;
   background-repeat: no-repeat;
   background-position: center;
   position: absolute;
   right: 10;
   top: 10;
}

.navbar__button:hover {
   cursor: pointer;
}