.close-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 29px;
  width: 29px;
  background-color: #bfe1ff;
  border-radius: 0.4rem;
  border-color: rgba(255, 255, 255, 0);
  border-style: none;
  border-width: 0rem;
  background-color: rgba(128, 128, 128, 0);
  padding: 0rem;
  user-select: none;
  margin: 0;
  background-image: url("/tupais/icons/close.png");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0px;
  top: 16px;
}

.close-button:hover {
  cursor: pointer;
}

/* Dark mode */
.close-button--dark-mode {
  background-image: url("/tupais/icons/close-dark-mode.png");
}

/* Show */
.close-button--show{
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}
.close-button--hidden {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}