.continent {
  position: relative;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 5px;
  /* width: 200px; */
  width: fit-content;
  height: 100%;
}

.continent__title-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.continent__icon {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.continent__title {
  color: color-mix(in srgb, var(--color-text) 70%, var(--bg-default) 30%);
  font-weight: 400;
  font-size: 14px;
}

.continent_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  border-radius: 12px;
  background-color: color-mix(
    in srgb,
    var(--color-link) 15%,
    var(--bg-default) 85%
  );
  padding: 5px 10px;
}

.continent_text {
  font-size: 1.1rem;
  color: var(--color-link);
  font-weight: 600;
}
