.results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 100vw;
  /* padding: 0px 10px 0px 10px; */
}

.results__title {
  /* color: #00405d; */
  font-weight: 500;
  margin: 0;
  font-size: 1.3rem;
}

.results__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.results__flags {
  width: fit-content;
  display: flex;
  /* justify-content: space-between; */
  align-items: start;
  font-size: 1.2rem;
}

.results__span {
  font-size: 1.3rem;
  font-weight: 600;
  /* color: #111; */
}



/* Bloques correctas, incorrectas y tiempo */
.results__correct,
.results__incorrect,
.results__time{
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;
}


.results__correct-container,
.results__incorrect-container,
.results__time-container {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: start;
  font-size: 1.1rem;
  padding: 12px;
  border-radius: 6px;
  background: #f1f5f9;
}

.results__correct-container {
  border-left: 6px solid #10b981; /* verde */
}
.results__incorrect-container {
  border-left: 6px solid #ef4444; /* rojo */
}
.results__time-container {
  border-left: 6px solid #3b82f6; /* azul */
}

.results__flags-overflow{
  max-height: 250px;
  overflow: auto;
}