.results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 100vw;
  padding: 0px 10px 0px 10px;
}

.results__title {
  color: #00405d;
  font-weight: 500;
  margin: 0;
  font-size: 1.3rem;
}

.results__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.results__correct {
  width: 100%;
  display: flex;
  justify-content: space-between; /* uno a la izq, otro a la der */
  align-items: start; /* opcional, para centrar vertical */
  font-size: 1.2rem;
}
.results__incorrect {
  width: 100%;
  display: flex;
  justify-content: space-between; /* uno a la izq, otro a la der */
  align-items: start; /* opcional, para centrar vertical */
  font-size: 1.2rem;
}
.results__time {
  width: 100%;
  display: flex;
  justify-content: space-between; /* uno a la izq, otro a la der */
  align-items: start; /* opcional, para centrar vertical */
  font-size: 1.2rem;
}

.results__flags {
  width: 100%;
  display: flex;
  justify-content: space-between; /* uno a la izq, otro a la der */
  align-items: start; /* opcional, para centrar vertical */
  font-size: 1.2rem;
}

.results__span {
  font-size: 24px;
  font-weight: semibold;
  color: #333;
  word-spacing: -4px;
}
