.modal-backdrop {
   position: fixed;
   inset: 0;
   width: auto;
   min-width: 100vw;
   height: auto;
   min-height: 100vh;
   display: none;
   z-index: 50;
}

.modal-backdrop--show {
   display: block;
}