.header {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #9ed2ff;
   min-height: 2.8rem;
   height: 2.8rem;
   width: 100%;
   max-width: 100vw;
   border-color: whitesmoke;
   border-radius: 0px 0px 6px 6px;
   margin: 0px;
   padding: 0;
}

.header__title {
   font-size: clamp(0.2px, 1.6rem, 8vw);
   color: #001F31;
   text-align: center;
   margin: 0;
   padding: 0;
   width: 10rem;
   max-width: 75vw;
   user-select: none;
}

.header__container {
   display: flex;
   justify-content: center;
   justify-content: space-between;
   align-items: center;
   width: 511px;
   max-width: 95vw;
}

/* Dark Mode */
.header--dark-mode {
   background-color: #001F31;
}

.header__title--dark-mode {
   color: #e6f2ff;
}
