.flag-gallery {
  width: 100%;
  position: relative;
}

.flag-gallery__content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.flag-gallery__store {
  /* width: fit-content; */
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  /* padding: 0px 80px; */
}

.flag-gallery__store-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

.flag-gallery__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
  /* width: 511px; */
  width: 100%;
  padding: 0px 0px 40px 0px;
}

.flag-gallery__toolbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.flag-gallery__title {
  color: var(--color-text);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
  width: 100%;
}

.flag-gallery__search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag-gallery__filters-mobile-button {
  width: fit-content;
  padding: 0 15px;
  min-height: 35px;
  background-color: transparent;
  color: var(--color-text);
  text-align: center;
  border-radius: 6px;
  border: 1px solid
    color-mix(in srgb, var(--color-text) 10%, var(--bg-default) 90%);

  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-size: clamp(0.8rem, 1.5vw + 0.5rem, 1rem);
  transition: all 0.15s ease-in-out;
  position: relative;

  cursor: pointer;
  user-select: none;
  
}

.flag-gallery__filters-mobile-button-icon {
  filter: invert(0%); /* normal */
  transition: filter 0.2s ease;
}

body.dark-mode .flag-gallery__filters-mobile-button-icon {
  filter: invert(100%); /* invierte el color para dark mode */
}

/* Responsive */
@media (max-width: 815px) {
  .flag-gallery__filters-mobile-button {
    display: flex;
  }
}

/* Estado con filtros activos */
.flag-gallery__filters-mobile-button--filtered {
  border-color: var(--color-link);
}

/* Cantidad de filtros activos */
.flag-gallery__filters-count {
  font-size: clamp(0.8rem, 1.5vw + 0.5rem, 1rem);
  color: var(--color-text);
  opacity: 0.8;
  display: none;
}

.flag-gallery__filters-count--show {
  display: inline;
}

/* Hover adaptativo */
.flag-gallery__filters-mobile-button:hover {
  border-color: color-mix(
    in srgb,
    var(--color-link) 30%,
    var(--bg-default) 70%
  );
  background-color: color-mix(
    in srgb,
    var(--color-link) 10%,
    var(--bg-default) 90%
  );
}
