<div class="flag-gallery">
  <div class="flag-gallery__content-container">
    <h2 class="flag-gallery__title">Galería de banderas</h2>
    <div class="flag-gallery__store">
      <div class="flag-gallery__store-container">
        <div class="flag-gallery__container">
          <div class="flag-gallery__toolbar">
            <button
              class="flag-gallery__filters-mobile-button"
              type="button"
              aria-label="Abrir filtros"
              title="Abrir filtros"
            >
              <div class="flag-gallery__filters-mobile-button-icon"></div>
              <span>Filtros</span>
              <span class="flag-gallery__filters-count"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
