.navbar__button {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 1.8rem;
   width: 1.8rem;
   background-color: #bfe1ff;
   border-radius: 0.4rem;
   border-color: rgba(255, 255, 255, 0);
   border-style: none;
   border-width: 0rem;
   background-color: rgba(128, 128, 128, 0);
   padding: 0rem;
   user-select: none;
   margin-bottom: 0.5rem;
   margin-left: auto;
   margin-right: 0.5rem;
   margin-top: 0.5rem;
}

.navbar__button:hover {
   transition: all 0.1s ease-in-out;
   background-color: rgba(255, 255, 255, 0.91);
   cursor: pointer;
}

.navbar__icon:nth-child(1) {
   position: absolute;
   transform-origin: center;
   transform: translateY(410%) translateX(7%) rotate(45deg);
   width: 10%;
   max-width: 10%;
   height: 0.2rem;
   max-height: 0.2rem;
   background-color: #222223;
   border-radius: 2rem;
   border-width: 4rem;
   padding: 0rem;
   margin: 0rem;
}

.navbar__icon:nth-child(2) {
   position: absolute;
   transform-origin: center;
   transform: translateY(410%) translateX(7%) rotate(-45deg);
   width: 10%;
   max-width: 10%;
   height: 0.2rem;
   max-height: 0.2rem;
   background-color: #222223;
   border-radius: 2rem;
   border-width: 4rem;
   padding: 0rem;
   margin: 0rem;
   border-color: rgba(255, 255, 255, 0);
}