.country__next-button {
  width: 40px;
  height: 60px;
  border: 0px solid transparent;
  background-color: transparent;
  border-radius: 4px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  margin-right: 4px;
}

.country__button-icon--right {
  width: 20px;
  height: 35px;
  background-image: url("/tupais/icons/next-button.png");
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.1s ease-in;
}
body.dark-mode .country__button-icon--right {
  background-image: url("/tupais/icons/next-button-dark-mode.png");
  width: 20px;
  height: 35px;
 background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: center;
}

.country__next-button:hover {
  cursor: pointer;
}

.country__next-button:hover .country__button-icon--right {
  transform: scale(1.06);
}

/* Desabilitar botón*/
/* Botón Next deshabilitado */
.country__next-button:disabled {
  background-color: #e0e3e8; /* fondo apagado */
  /*cursor: not-allowed;*/
  cursor: default; /* cursor prohibido */
  opacity: 0.6; /* efecto visual de desactivado */
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

/* Evitar hover en deshabilitado */
.country__next-button:disabled:hover {
  background-color: #e0e3e8;
}

/* Icono del botón deshabilitado */
.country__next-button:disabled .country__button-icon--right {
  filter: grayscale(100%); /* icono gris */
  opacity: 0.6; /* combinación con el botón */
  transform: scale(1); /* evitar efecto hover */
  transition: filter 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}
