<div class="flag-info">
  <div class="flag-info__content">
    <a
      href="#/flag-gallery"
      class="flag-info__back-to-gallery"
      aria-label="Volver a la galería"
      ><img src="/tupais/icons/arrow-up.png" alt="Flecha" width="14px" height="14px"> <span class="flag-info__back-to-gallery-text">Volver a la galería</span></a
    >
    <div class="flag-info__container">
      <!-- <h2 class="flag-info__name">Bandera de <span class="flag-info__country-name"></span></h2>

    <img
      class="flag-info__flag"
      alt="search"
      loading="lazy"
 
    />

    <p class="flag-info__description"></p>

    <h3 class="flag-info__subtitle">Información del país</h3>
    <ul class="flag-info__details"></ul>
    <div class="flag-info__neighboards-container">
    </div> -->
    </div>
  </div>
</div>
