.game-modes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
  /* padding: 30px 0px 30px 0px; */
}

.game-modes__link {
  width: 165px;
  height: 75px;

  background-color: #00638e;
  color: #ffffff;

  /* background-color: #9ED2FF;
  color: #001f31; */

  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.1s background-color ease-in-out;
}

.game-modes__link.hidden{
  display: none;
}

.game-modes__link:hover {
  background-color: #0073a4;
}

.game-modes__link:focus {
  outline: 2px solid #000000;
  outline-offset: 2px;
}

.game-modes__text {
  width: 90%;
  height: fit-content;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}
