<nav class="navbar">
   <ul class="navbar__list">
      <li class="navbar__item">
         <a href="/tupais/index.html" class="navbar__link"><span>Inicio</span></a>
      </li>
      <span class="navbar__division"></span>
      <li class="navbar__item">
         <a
            href="/tupais/src/pages/game-modes/game-modes.html"
            class="navbar__link"
            ><span>Modos de juego</span></a
         >
      </li>
      <span class="navbar__division"></span>
      <li class="navbar__item">
         <a
            href="/tupais/src/pages/flag-gallery/flag-gallery.html"
            class="navbar__link"
            ><span>Banderas</span></a
         >
      </li>
      <span class="navbar__division"></span>
      <li class="navbar__item">
         <a href="/tupais/src/pages/about/about.html" class="navbar__link"
            ><span>Acerca del juego</span></a
         >
      </li>
      <span class="navbar__division"></span>
      <li class="navbar__item">
         <a href="/tupais/src/pages/credits/credits.html" class="navbar__link"
            ><span>Créditos</span></a
         >
      </li>
      <span class="navbar__division"></span>
   </ul>
</nav>
