<nav class="navbar" tabindex="-1">
  <p class="navbar__paragraph navbar__paragraph--first">Modos de juego</p>
  <ul class="navbar__list">
    <li class="navbar__item">
      <a href="/" class="navbar__link"
        ><div class="navbar__icon navbar__icon--classic"></div>
        <span>Clásico</span></a
      >
    </li>
    <li class="navbar__item">
      <a href="/multiple-choice" class="navbar__link"
        ><div class="navbar__icon navbar__icon--multiple-choice"></div>
        <span>Opción múltiple</span></a
      >
    </li>
    <li class="navbar__item">
      <a href="/record" class="navbar__link"
        ><div class="navbar__icon navbar__icon--record"></div>
        <span>Récord</span></a
      >
    </li>
    <li class="navbar__item">
      <a href="/time-trial" class="navbar__link"
        ><div class="navbar__icon navbar__icon--time-trial"></div>
        <span>Contrareloj</span></a
      >
    </li>
  </ul>
  <p class="navbar__paragraph">Información</p>
  <ul class="navbar__list">
    <li class="navbar__item">
      <a href="/flag-gallery" class="navbar__link"
        ><div class="navbar__icon navbar__icon--flag"></div>
        <span>Galería de banderas</span></a
      >
    </li>
    <li class="navbar__item">
      <a href="/about" class="navbar__link"
        ><div class="navbar__icon navbar__icon--about"></div>
        <span>Acerca del juego</span></a
      >
    </li>
    <li class="navbar__item">
      <a href="/credits" class="navbar__link"
        ><div class="navbar__icon navbar__icon--credits"></div>
        <span>Créditos</span></a
      >
    </li>
  </ul>
</nav>
