.scroll-top {
  --translateY: 5px;
  --scale: 1;
  position: fixed;
  bottom: 15px;
  right: 20px;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: #fdfdfd;
  border: 2px solid var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transform: translateY(var(--translateY)) scale(var(--scale));
  transition: opacity 0.2s ease, transform 0.2s ease, border-color 0.2s ease;
  z-index: 1000;

  user-select: none;
}

body.dark-mode .scroll-top{
  background-color: var(--bg-default);
}

.scroll-top.visible {
  opacity: 1;
  pointer-events: auto;
  --translateY: 0;
}

.scroll-top.active {
  --translateY: -2px;
  --scale: 0.98;
}

.scroll-top--hover {
  --translateY: -1px;
  --scale: 1.05;
  background-color: #fff;
  border-color: #001f31;
}

body.dark-mode .scroll-top--hover {
  border-color: var(--color-text);
}

.scroll-top__icon {
  width: 28px;
  height: 28px;

  background-image: url("/tupais/icons/arrow-up.png");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: center;

  transform: rotate(45deg);
  transition: transform 0.2s ease, filter 0.2s ease;
}

body.dark-mode .scroll-top__icon {
  background-image: url("/tupais/icons/arrow-up-dark-mode.png");
}

.scroll-top--hover .scroll-top__icon {
  transform: rotate(0deg) scale(1);
  filter: none;
}
